#base.template
  #collecta
    #collecta-sidebar
      .container
        .box
          %h3.title Realtime results for "${query}"
          %p powered by <a href="http://collecta.com/#q=${query}">Collecta</a>
          %p Loading...
          #collecta-results

#result.template
  .collecta-result


