#loading.template
  #collecta
    #collecta-sidebar
      .box
        %h3.title Loading real-time results for "${query}" ...
        %p powered by <a href="http://collecta.com/">Collecta</a>
        %p Loading...
        %ul#collecta-results

#results.template
  .box
    %h3.title Real-time results for "${query}"
    %p powered by <a href="http://collecta.com/#q=${query}">Collecta</a>
    %ul#collecta-results


#result.template
  %li.collecta-result
    %h4.result-title
      %span.result-type [${category}]
      <a href="${link}">${title}</a>

    %p ${abstract}
